
#playable-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#target-area {
	border: 2px solid blue;
	width: 270px;
	height: 270px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-area-background {
	box-sizing: border-box;
	border: 1px solid green;
	width: 90px;
	height: 90px;
}

#puzzles-area {
	margin-left: 50px;
	border: 2px solid green;
	display: flex;
	width: 270px;
	height: 270px;
	flex-direction: column;
	flex-wrap: wrap;
}

.playable {
	box-sizing: border-box;
	width: 90px;
	height: 90px;
	background-color: #cccccc;
	border: 1px solid #000000;
}


