body {
	width: 916px;
	margin: 0 auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	text-align: center;
	color: #dd0031;
	width: 90%;
	margin: 0 auto;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	padding: 0.5em 0;
}

footer {
	width: 40%;
	margin-left: 60%;
	border-top: 1px solid #dd0031;
	margin-bottom: 1em;
}

footer p {
	text-align: right;
	margin: 0;
	padding: 0;
}

#playable-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#solution-area {
	border: 3px solid #dd0031;
	width: 420px;
	height: 420px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

.solution-background {
	box-sizing: border-box;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.7);
}

#puzzles-area {
	margin-left: 30px;
	display: flex;
	width: 460px;
	height: 460px;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #555555;
	align-content: space-around;
	justify-content: space-around;
}

.playable {
	box-sizing: border-box;
	background-color: #cccccc;
	border: 1px solid white;
	opacity: 1;
}

.correct {
	border: 0px solid green;
}

.incorrect {
	border: 0px solid red;
	opacity: 1 !important;
}

.end-message {
	position: fixed;
	top: 250px;
	left: 10%;
	width: 80%;
	padding: 2em 0;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #ffffff;
	border-radius: 10px;
}

.success {
	box-shadow: 10px 10px 5px green;
	border: 2px solid green;
}

.failure {
	box-shadow: 10px 10px 5px #dd0031;
	border: 2px solid #dd0031;
}

.s4 {
	width: 210px;
	height: 210px;
}

.s9 {
	width: 140px;
	height: 140px;
}

.s16 {
	width: 105px;
	height: 105px;
}

.s25 {
	width: 84px;
	height: 84px;
}

.s36 {
	width: 70px;
	height: 70px;
}

.s49 {
	width: 60px;
	height: 60px;
}

.visible {
	display: block;
}

.invisible {
	display: none !important;
}

.options {
	width: 80%;
	margin: 2em auto;
	background-color: #eeeeee;
	border: 3px solid #000000;
	border-radius: 5px;
	padding: 0.5em;
}

#options-area {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

#options-area div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	margin: 0.5em;
}

#options-area div * {
	margin: 0 0.5em;
}

#options-area div p {
	line-height: 70px;
}

#target-image {
	height: 70px;
	border: 1px solid #000000;
	margin-left: 10px;
	margin-bottom: -35px !important;
}

#result-section {
	width: 600px;
	margin: 2em auto;
	text-align: center;
}

#images-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#images-area div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#images-area div img {
	width: 70px;
	border: 2px solid #000000;
	margin: 0.3em;
}

.puzzle-button {
	font-size: 0.9em;
	padding: 0.4em 0.6em;
	border: 2px solid #dd0031;
	border-radius: 5px;
	background-color: #555555;
	color: #ffffff;
	outline: 0;
}

.puzzle-button:hover {
	opacity: 0.7;
}

